@{
    ViewBag.Title = "Сайт за несемейни";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="row">
        <h1 style="color:cornflowerblue" class="col-sm-offset-3">Партита за запознанства</h1>
        <img class="col-sm-offset-4" style="height: 30%; width: 30%" src="@Url.Content("~/Content/Images/NewParty.jpg")" alt="" />
        <div>
            Това е сайт за организиране на партита за необвързани. Сега само при Нас може да се забавлявате до полуда, като в същото време
            се запознавате със своите бъдещи половинки...-Променете го какато желаете..
            Нмира се тук:
            BurgasTeamBlog\Views\Home\NewParty.cshtml
            Продължавам да работя по него...Ще довърша рег. форма и управлението на акаунта.
            Трябва да се добавят и администратори...и още неща.
        </div>
    </div>
</body>
</html>
